.mat-cell {
    text-align: left; /* Alinea el texto a la izquierda en todas las celdas */
    margin-left: -18px; /* Ajusta este valor según sea necesario */
  }
  
  .row-align-left {
    justify-content: flex-start; /* Alinea las filas hacia la izquierda */
    margin-left: -18px; /* Ajusta este valor según sea necesario */
  }
  
  .acciones-container {
    display: flex;
    justify-content: flex-start;
    margin-left: -18px; /* Ajusta este valor según sea necesario */
  }
.container{
    justify-content: flex-start; /* Alinea las filas hacia la izquierda */
    margin-left: -70px; /* Ajusta este valor según sea necesario */
    width: 108%;
}
.mat-header-cell{
    text-align: left; /* Alinea el texto a la izquierda en todas las celdas */
    margin-left: -18px; /* Ajusta este valor según sea necesario */
}